* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

:root {
  --primary-color: #101820;
  --accent-color: #fee715;
  --white: #fff;
}

button {
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  box-shadow: var(--accent-color) 1.95px 1.95px 2.6px;
  background-color: #283d52fb;
  color: var(--white);
  font-weight: bold;
  height: 55px;
  transition: border ease-in-out 0.2s;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 2px solid #395c7c;
  box-shadow: #395c7c 1.95px 1.95px 2.6px;
}
